#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-header h1 {
    font-size: 64px;
    margin: 0;
}

.photograph-header .location {
    font-size: 24px;
}

.photograph-header .tagline {
    font-size: 18px;
}

.media-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.media-card {
    width: 350px;
}

.media-miniature {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media-infos {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
}

.media-infos .title {
    font-weight: 400;
    font-size: 18px;
}

.media-infos .likes {
    font-weight: 500;
    font-size: 16px;
}

.info-block {
    position: fixed;
    bottom: 0px;
    right: 1%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #DB8876;
    border-radius: 10px 10px 0px 0px;
    font-size: 24px;
    gap: 80px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #DB8876;
    color: black;
}

#contact_modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    width: 100%;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    height: 50px;
}

form textarea {
    height: 120px;
    resize: none;
}

form input, textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
}

@media screen and (max-width:992px){
    .photograph-header {
        height: auto;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .photograph-header h1 {
        font-size: 40px;
    }
    .modal {
        padding: 10px;
    }
    .modal header {
        flex-direction: row;
    }
    .modal header img {
        width: 30px;
        height: 30px;
    }
    .modal header h2 {
        font-size: 48px;
    }
    form label {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        max-width: 300px;
    }
    .modal header h2 {
        font-size: 24px;
    }
    .modal header img {
        width: 24px;
        height: 24px;
    }
    form label {
        font-size: 16px;
    }
    form input {
        height: 40px;
        font-size: 16px;
    }
}